<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>
<body>

    <form method="POST">
        <div class="imgcontainer">
            <img src="{% static 'src/project_logo.png' %}" alt="ziqzed login logo">
        </div>

        <div class="container">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="inputcontainer">
                <input type="submit" value="Login">
            </div>

            <p>No account yet? <a href=".">Register here</a></p>
        </div>
    </form>

</body>
</html>